<!--Coding reference
Author:Drifty Co.
Date: 2020
Title of program/source code: Ionic Framework
Type: Angular
Availability:  https://ionicframework.com/docs/components
-->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" defaultHref="/tabs/episodes">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ episode?.title }}</ion-title>
      <ion-buttons slot="end">
	
    <ion-button (click)="unfavouriteEpisode()" *ngIf="isFavourite">
      <ion-icon name="star" slot="icon-only" color="warning"></ion-icon>
    </ion-button>
    <ion-button (click)="favouriteEpisode()" *ngIf="!isFavourite">
      <ion-icon name="star-outline" slot="icon-only" color="warning"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card *ngIf="episode">
    <ion-card-header>
    <ion-card-subtitle><p>Season: <strong>{{ episode?.season }}</strong></p></ion-card-subtitle>
    <ion-card-title>{{ episode?.title }}</ion-card-title>
    </ion-card-header>
    
    <ion-item>
      <ion-icon name="calendar" slot="start"></ion-icon>
     <p>Airdate: <strong>{{ episode?.air_date }}</strong></p>
    </ion-item>
      <!--ion-item *ngFor="let character of characters"-->
      <ion-item>
 <ion-icon name="film" slot="start"></ion-icon>
     <p>Series: <strong>{{ episode?.series }}</strong></p>
    </ion-item>
  </ion-card>

  <ion-card>
  <ion-card-header>
  
   <ion-card-title>Characters in episode</ion-card-title>
  </ion-card-header>
    <ion-item *ngFor="let character of characters"> 
    <ion-icon name="people" slot="start"></ion-icon>
      <p >{{ character }}</p >
    </ion-item>
  </ion-card>
</ion-content>